<div class="container">
    <div>
    <h2>Ajouter Fruits :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Fruit</label>
        <input type="text" [(ngModel)]="newFruit.idFruit" name="idFruit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Fruit</label>
        <input type="text"[(ngModel)]= "newFruit.nomFruit" name="nomFruit" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix Fruit</label>
        <input type="number" [(ngModel)]= "newFruit.prixFruit"  name="prixFruit" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date debut saison</label>
        <input type="date" [(ngModel)]= "newFruit.datedebutsaison " name="datedebutsaison " class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Saison</label>
            <select class="form-control form-control-lg" id="idSai" name="idSai"
            [(ngModel)]="newIdSai">
             <option *ngFor="let sai of saisons" [value]="sai.idSai" >
             {{sai.nomSai}}
            </option>
            </select>
            </div> 
            <div class="col-sm-16 col-md-16 col-lg-16">
                <label class="mb-2">Image :</label>
                <input type="file" (change)="onImageUpload($event)"
                name="logo" class="form-control">
                </div>
                <div class="col-sm-16 col-md-16 col-lg-16">
                    <img [src]="imagePath" class="card-img-top img-fluid rounded-start"
                    style="width: 500px; height: 300px" />
                    </div>
        <div class="mt-2">
        <button type="submit" (click)="addFruit()"class="btn btn-success">Ajouter</button>
        <div>

            <h3>{{message}}</h3>
        </div>
        </div>
     </form>
</div>
